<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Create Request</title>
</head>
<body>
  <h1>Create Support Request</h1>
  <form action="{{route('request_file')}}" method="POST">
    {{ csrfField()}}
    <input type="text" name="Support_Request_Title" placeholder="Request Title">
    @if(flashMessages.has('errors.Support_Request_Title'))
    <p> {{flashMessages.get('errors.Support_Request_Title')}} </p>
    @end
    <input type="file" name="File_Upload" id="">
    @if(flashMessages.has('errors.File_Upload'))
    <p>{{flashMessages.get('errors.File_Upload')}}</p>
    @end
    <textarea name="Support_Request_Description" id="" cols="30" rows="10" placeholder="Request Description"></textarea>
    @if(flashMessages.has('errors.Support_Request_Description'))
    <p> {{flashMessages.get('errors.Support_Request_Description')}} </p>
    @end
    <button type="submit">Create Request</button>

  </form>
</body>
</html>