<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Support request form</title>
</head>
<body>
  <h1>Support request form</h1>

  {{-- loop over all requests --}}

  @each(request in requests)
  <h3>{{request.Support_Request_Title}}</h3>

  @endeach
</body>
</html>
